{% extends 'papercity_app/layout.html' %}&nbsp;{% block content %}
    <div class="container3">
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-body">
<form method="POST">
<h2 align="center">Смена пароля</h2>
<div class="registration1">
{{form.non_field_errors}}
{% csrf_token %}
{% for field in form %}
{{field.label_tag}}
    <br>
{{ field }}
    <br>
    <br>
{% if field.errors %}
{{ field.errors }}
{% endif %}
{% endfor %}
<button type="submit" style='margin-left:25%; color: white; margin: auto; background: darkorange; margin: 5px auto auto auto;
padding: 3px 7px; border-radius: 5px; border: 1px solid orangered; font-size: 20px; margin-left:27%;'>Сохранить</button>
</div>
</form>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}