{% extends 'papercity_app/layout.html' %}&nbsp;{% block content %}
<br>
<div class="container1">
<div class="tabs">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
    <label for="tab-btn-1">Заказы</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
    <label for="tab-btn-2">Избранное</label>
    <input type="radio" name="tab-btn" id="tab-btn-3" value="">
    <label for="tab-btn-3">Настройки</label>

    <div id="content-1">
      <h4>Вы пока не оформили ни одного заказа</h4>
    <br>
        <a href=""><h5>Подпишитесь на новинки</h5></a>
        <h5>Мы будем извещать вас о важных книгах так часто, как вы скажете.</h5>
    <br>
    <h4><b>Главные книги - 2021</b></h4>
 {% load booktags %}
        {% get_second_books %}
        <br>
    </div>
    <div id="content-2">
      <h4>Вы пока не добавили в избранное ни одного товара</h4>
        <br>
 <h4><b>Читатели выбирают сегодня</b></h4>
 {% load booktags %}
        {% get_first_books %}
        <br>
    </div>
    <div id="content-3">
<form action="." method="post">
    <label>Логин</label>
        <p>{{ user_form.username }}</p>
    <label>Имя</label>
    <p>{{ user_form.first_name }}</p>
    <label>Фамилия</label>
    <p>{{ user_form.last_name }}</p>
        <label>E-mail</label>
    <p>{{ user_form.email }}</p>
        {% csrf_token %}
        <button type="submit" style='margin-left:25%; color: white; margin: auto;' value="Save changes" >Сохранить</button>
    </form>
    </div>
</div>
</div>
    <br>
{% endblock content %}