{% extends 'papercity_app/layout.html' %}
 
{% block content %}
 <div class="container3">
        <div class="card border-success mb-3" style="min-width: 20rem;">
            <div class="card-body">
<h2 align="center">Регистрация</h2>
                <div class="registration">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style='margin-left:25%; color: white;'>Регистрация</button>
</form>
                    </div>
            </div>
        </div>
 </div>
{% endblock content %}