{% extends 'papercity_app/layout.html' %}
{% block content %}
<br>

<div id="menu">
    <h2><b>Книги</b></h2>
    <br>
    <h4>Категория</h4>
    <div id="wrapper">
        <ul class="menu">
            <li class="item1"><a style="background-color: lightsteelblue;">Книги</a>
                <ul>
                    <li class="subitem1"><a href="/cat1">Художественная литература</a></li>
                    <li class="subitem2"><a href="/cat2">Литература для детей</a></li>
                    <li class="subitem3"><a href="/cat3">Учебная литература</a></li>
                    <li class="subitem4"><a href="/cat4">Иностранные языки</a></li>
                    <li class="subitem5"><a href="/cat5">Искусство</a></li>
                    <li class="subitem6"><a href="/cat6">Психология и эзотерика</a></li>
                    <li class="subitem7"><a href="/cat7">Медицина, здоровье, дети</a></li>
                    <li class="subitem8"><a href="/cat8">Научная литература</a></li>
                    <li class="subitem9"><a href="/cat9">История. Политика</a></li>
                </ul>
            </li>
        </ul>
        <br>
        <span class="toggle-button">
            <button style="color: white; font-size: 18px">Смотреть все категории</button>
        </span>
    </div>
</div>

    <br>

    <div id="content">
        <h3>Все книги</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
         {% for books in book_list %}
        <div class="col">
            <div class="card" style="height: 500px; width: 235px">

            <div class="card-body">
                <a href="/{{ books.get_absolute_url }}"><img src="{{books.photo.url}}" class="card-img-top" height="280" width="200" alt="..."></a>
                <a href="/{{ books.get_absolute_url }} " class="card-title"><h5>{{books.title}}</h5></a>
            <p class="card-text">
                {% for author in books.author.all %}
                {{author.name}}
                {% endfor %}
            </p>
            <div class="card_footer">
                <div class="row row-cols-2">
                    <div class="col">
                        <h4><b>{{books.price}} ₽</b></h4>
                    </div>
                    <div class="col">
                        <button style="margin-left: 35px;color: white;">Купить</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>



{% endblock %}