{% extends 'papercity_app/layout.html' %}
{% block content %}

    <br>
        {% load static %}
        <p><img src="{{book.photo.url}}" alt="" width="300" height="490" vspace="5" hspace="20"
                style="margin-left: 150px; float: left"></p>
        <div class="book_container">
                <h5 style="font-size: 15px;"><a href="/home/" style="text-decoration: none;">Главная</a><a href="/book_list/" style="text-decoration: none;">
                    > Книги</a><a href="/categories/{{ book.category.url }}/" style="text-decoration: none;">
                    > {{ book.category.name}}</a></h5>
        <h1><b>{{book.title}}</b></h1>
        <h5>{% for author in book.author.all %}
          {{author.name}}
          {% endfor %}</h5>
        <h4><b>{{book.price}} ₽</b></h4>
        <button style="color: white; margin-top: 10px;">Купить</button>
        <button style="color: white; margin-top: 10px;">Избранное</button>

        {% if book.count >= 10 %}
            <h5 style="color: green; margin: 10px;">! в наличии больше 10 штук</h5>
        {% else %}
            <h6 style="color: red; margin: 10px;">! осталось 5 штук</h6>
        {% endif %}

        <h4 style="margin-top: 20px"><b>Описание</b></h4>
        <p>{{ book.description }}</p>

        <h4 style="margin-top: 20px"><b>Мнения и отзывы</b></h4>
        <h5 style="margin-top: 20px"><b>Оставить свой отзыв</b></h5>

        <form  action="{% url 'add_review' book.id %}" method="post"  class="form" id="formReview">
         {% csrf_token %}
        <p>
            <label><span class="formTextRed">*</span> Имя:</label>
            <input type="text" name="name" id="name" />
        </p>
        <p>
            <label><span class="formTextRed">*</span> Отзыв:</label>
            <textarea rows="10" name="text" id="text"></textarea>
        </p>
        <button style="color: white; width: 400px; margin-left: 180px">Отправить</button>
        </form>
    <br>

        {% for review in book.reviews_set.all %}
    <div class="card mb-3" style="max-width: 500px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://icons-for-free.com/iconfiles/png/512/cat+icon-1320190750608450315.png" width="100" height="100" alt="...">
            </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ review.name }}</h5>
            <p class="card-text">{{ review.text }}</p>
        </div>
        </div>
        </div>
    </div>
    {% endfor %}


    </div>
    <br>
{% endblock %}