{% extends 'papercity_app/layout.html' %}

{% block content %}
<div class="container">
    {% if user.is_superuser %}
        <h1 style="padding: 20px; text-align: center">Корзина админа?</h1>
    {% else %}

        {% if status %}
            <h1 style="padding: 20px; text-align: center">{{ status }}</h1>
        {% else %}
            <h1 style="padding: 10px; text-align: center">Моя корзина ({{items|length}})</h1>
        {% endif %}

    {% endif %}

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-9 my-5" style="box-shadow: 0 0 10px gray;">
            {% if msz %}
                <br>
                <div class="{{ cls }}">{{ msz }}</div>
            {% endif %}

            <table class="table cart">
                <thead>
                    <tr>
                        <th>Фотография</th>
                        <th>Название</th>
                        <th>Стоимость</th>
                        <th>Количество</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ item.book.photo.url }}" width="160" height="250"></td>
                            <td>{{ item.book.title }}</td>
                            <td>{{ item.book.price }} &#8381</td>
                            <td>
                            <div class="row" style="width: 150px">
                                <div class="col-md-3">
                                    <i class="fa fa-plus" onclick="change_quan('{{item.id}}','plus')"></i>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" value="{{ item.count }}" class="form-control" id="cart{{item.id}}">
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-minus" onclick="change_quan('{{item.id}}','minus')"></i>
                                </div>
                            </div>
                            </td>
                            <td><a href="#" class="btn btn-danger">&times; Удалить</a></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-3 my-5">
               <div style="box-shadow:0px 0px 10px gray;">
               <h2 class="text-center">ИТОГ</h2>
            <table class="table">
                <tr>
                    <td>Количество</td>
                    <td id="quantity"></td>
                </tr>
                <tr>
                    <td>Доставка</td>
                    <td>БЕСПЛАТНО</td>
                </tr>

                <tr>
                    <td>ОБЩИЙ ИТОГ</td>
                    <td id="grand_total"></td>
                </tr>

            </table>
            <div class="p-3">
                <a href="#">
                <button type="submit" style="color: white; margin-top: 10px; width: 100%">Начать оформление</button>
                <span id="btamt"></span>
                </a>
            </div>
        </div>
           </div>

    </div>
    <script>
        function grandTotal(){
           $.ajax({
               url:"{% url 'get_cart_data' %}",
               type:'get',
               success:function(data){
                   save = data.total;
                   $("#item_total").html(data.total + " &#8381;");
                    $("#quantity").html(data.quan+" шт.");
                    $("#grand_total").html(data.total + " &#8381;");
                    $("#btamt").html(data.total + " &#8381;");

               }
           })
       }
       grandTotal();


       function change_quan(id,action){
           let old = $("#cart"+id).val();

           quan = 0
           if(action=="plus"){
               quan += parseInt(old)+1
           }else{
               quan += parseInt(old)-1
           }

           $("#cart"+id).val(quan);

           $.ajax({
               url:"{% url 'change_quan' %}",
               type:"get",
               data:{cid:id, quantity:quan},
               success:function(data){
                   grandTotal();
                 if(data==0){
                    remove_cart(id);
                 }
               }
           })
       }
    </script>
    {% endif %}
</div>
{% endblock %}