{% extends 'papercity_app/layout.html' %}
{% block content %}
{% load static %}
<div class="container">
  <br>
 <div class="slider">
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <img src="{% static 'img/sliders/1.jpg' %}" alt="" width="1300" height="300">
        </div>
        <div class="slide">
          <img src="{% static 'img/sliders/2.jpg' %}" alt="" width="1300" height="300">
        </div>
        <div class="slide">
          <img src="{% static 'img/sliders/3.jpg' %}" alt="" width="1300" height="300">
        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
  <br>
</div>
{% load booktags %}
{% get_new_books %}
  <div class="container1">
    <div class="row row-cols-2">
      <div class="col">
      <h2><b>Подборки книг</b></h2>
      </div>
      <div class="col">
        <a href="/home/selection_all" style="float: right;"><h5>Смотреть все →</h5></a>
      </div>
    </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'img/compilations/1.jpg' %}"  class="card-img" alt="...">
      <div class="card-body">
        <a class="card-title" href="selections/selection1"><h5>Художественные книги о врачах</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/compilations/2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="card-title" href="selections/selection2"><h5>Гарри Поттер</h5></a>
      </div>
    </div>
  </div>
        <div class="col">
    <div class="card">
      <img src="{% static 'img/compilations/3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="card-title" href="selections/selection3"><h5>Ясная поляна - 2021</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/compilations/4.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="card-title" href="selections/selection4"><h5>Жуткие романы в жанре хоррор</h5></a>
      </div>
    </div>
  </div>
      </div>
  </div>
  <br>

  <div class="container1">
    <div class="row row-cols-2">
      <div class="col">
        <h2><b>Акции</b></h2>
      </div>
      <div class="col">
        <a href="/stocks" style="float: right;"><h5>Смотреть все →</h5></a>
      </div>
    </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card bg-dark text-white">
      <img src="{% static 'img/promo/2.jpg' %}"  class="card-img" alt="...">
      </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-white">
      <img src="{% static 'img/promo/1.jpg' %}" class="card-img" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-white">
      <img src="{% static 'img/promo/3.jpg' %}" class="card-img" alt="...">

    </div>
  </div>
  </div>


  </div>
  <br>



{% endblock %}