<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Бумажный город{% endblock %}</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
    <link rel ="stylesheet" href="{% static 'css/papercity.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
</head>

<script>
$(document).ready(function () {

  var change_img_time = 8000,
      transition_speed = 400;

  var listItems = $("#slider").children('li'),
      dotItems = $('#dots').children('li'),
      listLen = listItems.length,
      current,
      changeTimeout;

  function moveTo(newIndex) {

    var i = newIndex;

    if (newIndex == 'prev') {
        i = (current > 0) ? (current - 1) : (listLen - 1);
    }

    if (newIndex == 'next') {
        i = (current < listLen - 1) ? (current + 1) : 0;
    }

    dotItems.removeClass('active')
            .eq(i).addClass('active');

    listItems.fadeOut(transition_speed)
             .eq(i).fadeIn(transition_speed);

    current = i;

    //resets time interval if user clicks on slider dot; then begin automated slider
    clearTimeout(changeTimeout);
    changeTimeout = setTimeout(function() { moveTo('next'); }, change_img_time);
  };

  // Event handlers
  $("#dots li").click(function () {
    var i = $('#dots li').index(this);
    moveTo(i);
  });

  $("#prev").click(function () {
    moveTo('prev');
  });

  $("#next").click(function () {
    moveTo('next');
  });

  //initialize slider on load
  moveTo('next');
});
</script>

<script>
    $(document).ready(function() {
    var $toggleButton = $('.toggle-button'),
        $menuWrap = $('.menu-wrap');
    $toggleButton.on('click', function() {
        $(this).toggleClass('button-open');
        $menuWrap.toggleClass('menu-show');
    });
});
</script>
<body>
<div class="menu-wrap">
    <div class="menu-sidebar">
                        <span class="toggle-button">
            <button style="color: white; background: black; border: black; font-size: 25px; float: right">X</button>
    </span>
        <h3 style="color: white; margin: 10px 0 0 10px">Каталог</h3>
        <hr style="color: white;">
        <ul class="menu1">
            <li><a href="/cat1" style="color:white;">Художественная литература</a>
                <ul>
                    <div class="ul1">
                    <li><a href="/minicat1">Поэзия</a></li>
                    <li><a href="/minicat2">Проза</a></li>
                    <li><a href="/minicat3">Фантастика</a></li>
                    <li><a href="/minicat4">Фэнтези</a></li>
                    <li><a href="/minicat5">Детективы</a></li>
                    <li><a href="/minicat6">Приключения</a></li>
                    <li><a href="/minicat7">Биографии</a></li>
                    <li><a href="/minicat8">Романы</a></li>
                    <li><a href="/minicat9">Драматургия</a></li>
                    <li><a href="/minicat10">Графические романы и манга</a></li>
                    </div>
                </ul>
            </li>
            <br>
            <li><a href="/cat2" style="color:white;">Литература для детей</a>
                <ul>
                    <li><a href="/minicat11">Художественная литература</a></li>
                    <li><a href="/minicat12">Дошкольное обучение</a></li>
                    <li><a href="/minicat13">Детская научно-популярная литература</a></li>
                    <li><a href="/minicat14">Творчество и досуг</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat3" style="color:white;">Учебная литература</a>
                <ul>
                    <li><a href="/minicat15">Педагогика</a></li>
                    <li><a href="/minicat16">Словари и разговорники</a></li>
                    <li><a href="/minicat17">Гуманитарные дисциплины</a></li>
                    <li><a href="/minicat18">Общественные дисциплины</a></li>
                    <li><a href="/minicat19">Естественнонаучные дисциплины</a></li>
                    <li><a href="/minicat20">Прикладные дисциплины</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat4" style="color:white;">Иностранные языки</a>
                <ul>
                    <li><a href="/minicat21">Литаратура на английском языке</a></li>
                    <li><a href="/minicat22">Литаратура на немецком языке</a></li>
                    <li><a href="/minicat23">Литаратура на испанском языке</a></li>
                    <li><a href="/minicat24">Литаратура на других языках</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat5" style="color:white;">Искусство</a>
                <ul>
                    <li><a href="/minicat25">Искусствоведение</a></li>
                    <li><a href="/minicat26">Архитектура и дизайн</a></li>
                    <li><a href="/minicat27">Живопись и графика</a></li>
                    <li><a href="/minicat28">Декоративно-прикладное искусство</a></li>
                    <li><a href="/minicat29">Фотография</a></li>
                    <li><a href="/minicat30">Музыка</a></li>
                    <li><a href="/minicat31">Мода</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat6" style="color:white;">Психология и эзотерика</a>
                <ul>
                    <li><a href="/minicat32">Психология</a></li>
                    <li><a href="/minicat33">Эзотерика</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat7" style="color:white;">Медицина, здоровье, дети</a>
                <ul>
                    <li><a href="/minicat34">Нетрадиционная медицина</a></li>
                    <li><a href="/minicat35">Медицина и фармакология</a></li>
                    <li><a href="/minicat36">Для родителей</a></li>
                    <li><a href="/minicat37">Красота и здоровье</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat8" style="color:white;">Научная литература</a>
                <ul>
                    <li><a href="/minicat38">Технические науки</a></li>
                    <li><a href="/minicat39">Естественные науки</a></li>
                    <li><a href="/minicat40">Гуманитарные науки</a></li>
                    <li><a href="/minicat41">Философия</a></li>
                </ul>
            </li>
            <br>
            <li><a href="/cat9" style="color:white;">История. Политика</a>
                <ul>
                    <li><a href="/minicat42">История</a></li>
                    <li><a href="/minicat43">Политика</a></li>
                    <li><a href="/minicat44">Социология</a></li>
                    <li><a href="/minicat45">Военное дело</a></li>
                </ul>
            </li>
            <br>
        </ul>
    </div>
</div>
<header>
    <nav>
        <ul class="topmenu">з
            {% load static %}
            <li><a href="/home"><img src="{% static 'img/logo.jpg' %}" alt="" width="240" height="100"></a></li>
            <li><a href="/books" class="down" style="text-decoration: none">Книги</a>
                <ul class="submenu">
                    <li><a href="/books" style="text-decoration: none">Все книги</a></li>
                    <li><a href="/cat9" style="text-decoration: none">История. Политика</a></li>
                    <li><a href="/cat2" style="text-decoration: none">Литература для детей</a></li>
                    <li><a href="/cat3" style="text-decoration: none">Учебная литература</a></li>
                    <li><a href="/cat4" style="text-decoration: none">Иностранные языки</a></li>
                    <li><a href="/cat5" style="text-decoration: none">Искусство</a></li>
                </ul>
            </li>
            <li><a href="" class="down" style="text-decoration: none">Канцелярия</a>
                <ul class="submenu">
                    <li><a href="" style="text-decoration: none">Все канцтовары</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile" class="down" style="text-decoration: none">Профиль</a>
                <ul class="submenu">
                    <li><a href="{% url 'logout' %}" style="text-decoration: none">Выход</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="/accounts/login" class="down" style="text-decoration: none">Профиль</a></li>
            {% endif %}
            <li><a href="" style="text-decoration: none">Корзина</a></li>
              <div class="topnav-right">
            <li><form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Найти книгу или товар" aria-label="Search">
                <input type="submit" value="&#128269;">
            </form></li>
                </div>
        </ul>
    </nav>
</header>
{% block content%}
{% endblock %}
<div id="space"></div>
<div id="footer">
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                <h4>Книги</h4>
                <a href="/books">Все книги</a>
                <a href="/cat9">История. Политика</a>
                <a href="/cat2">Литература для детей</a>
                <a href="/cat3">Учебная литература</a>
                <a href="/cat4">Иностранные языки</a>
                <a href="/cat5">Искусство</a>
            </div>
            <div class="col">
                <h4>Мой Бумажный город</h4>
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
                <a href="#">Профиль</a>
                <a href="#">Избранное</a>
            </div>
            <div class="col">
                <h4>Помощь</h4>
                <a href="#">Как сделать заказ</a>
                <a href="#">Оплата</a>
                <a href="#">Поддержка</a>
                <a href="#">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</div>
<div id="footer1">
    <h5>2021, ООО «Бумажный город»</h5>
</div>

</body>
</html>