<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Бумажный город{% endblock %}</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
    <link rel ="stylesheet" href="{% static 'css/papercity.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
</head>

<script>
$(document).ready(function () {

  var change_img_time = 8000,
      transition_speed = 400;

  var listItems = $("#slider").children('li'),
      dotItems = $('#dots').children('li'),
      listLen = listItems.length,
      current,
      changeTimeout;

  function moveTo(newIndex) {

    var i = newIndex;

    if (newIndex == 'prev') {
        i = (current > 0) ? (current - 1) : (listLen - 1);
    }

    if (newIndex == 'next') {
        i = (current < listLen - 1) ? (current + 1) : 0;
    }

    dotItems.removeClass('active')
            .eq(i).addClass('active');

    listItems.fadeOut(transition_speed)
             .eq(i).fadeIn(transition_speed);

    current = i;

    //resets time interval if user clicks on slider dot; then begin automated slider
    clearTimeout(changeTimeout);
    changeTimeout = setTimeout(function() { moveTo('next'); }, change_img_time);
  };

  // Event handlers
  $("#dots li").click(function () {
    var i = $('#dots li').index(this);
    moveTo(i);
  });

  $("#prev").click(function () {
    moveTo('prev');
  });

  $("#next").click(function () {
    moveTo('next');
  });

  //initialize slider on load
  moveTo('next');
});
</script>

<script>
    $(document).ready(function() {
    var $toggleButton = $('.toggle-button'),
        $menuWrap = $('.menu-wrap');
    $toggleButton.on('click', function() {
        $(this).toggleClass('button-open');
        $menuWrap.toggleClass('menu-show');
    });
});
</script>
  <script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 3){
        counter = 1;
      }
    }, 4000);
    </script>
<body>
{% load booktags %}
<div class="menu-wrap">
    <div class="menu-sidebar">
                        <span class="toggle-button">
            <button style="color: white; background: black; border: black; font-size: 25px; float: right">X</button>
    </span>
        <h3 style="color: white; margin: 10px 0 0 10px">Каталог</h3>
        <hr style="color: white;">
        <ul class="menu2">

            {% get_categories %}

        </ul>
    </div>
</div>
<header>
    <nav>
        <ul class="topmenu">
            {% load static %}
            <li><a href="/home"><img src="{% static 'img/logo.jpg' %}" alt="" width="260" height="100"></a></li>
            <li><a href="/book_list" class="down" style="text-decoration: none">Книги</a>
                <ul class="submenu">
                    <li><a href="/book_list" style="text-decoration: none">Все книги</a></li>
                    {% get_categories %}
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile" class="down" style="text-decoration: none">Профиль</a>
                <ul class="submenu">
                    <li><a href="{% url 'logout' %}" style="text-decoration: none">Выход</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="/accounts/login" class="down" style="text-decoration: none">Профиль</a></li>
            {% endif %}
            <li><a href="" style="text-decoration: none">Корзина</a></li>
              <div class="topnav-right">
            <li><form class="d-flex" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" name="q" type="search" placeholder="Найти книгу или товар" aria-label="Search">
                <input type="submit" value="&#128269;">
            </form></li>
                </div>
        </ul>
    </nav>
</header>
{% block content%}
{% endblock %}
<div id="footer">
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                <h4>Книги</h4>
                <a href="/book_list">Все книги</a>
                <ul class="menu1">
                {% load booktags %}
                {% get_categories %}
                </ul>
            </div>
            <div class="col">
                <h4>Мой Бумажный город</h4>
                <a href="/accounts/login">Вход</a>
                <a href="/accounts/signup">Регистрация</a>
                {% if user.is_authenticated %}
                <a href="/accounts/profile">Профиль</a>
                {% else %}
                <a href="/accounts/login">Профиль</a>
                {% endif %}
                <a href="#">Избранное</a>
            </div>
            <div class="col">
                <h4>Важно</h4>
                <a href="/home/stocks">Акции</a>
                <a href="/home/selection_all">Подборки</a>
                <a href="/home/terms">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</div>
<div id="footer1">
    <h5>2021, ООО «Бумажный город»</h5>
</div>

</body>
</html>