{% extends 'papercity_app/layout.html' %}
{% block content %}
<div class="container6">
    <div class="container5">
        <br>
        <h5 style="font-size: 15px;"><a href="/home" style="text-decoration: none;">Главная</a><a href="/selection_all" style="text-decoration: none;"> > Подборки книг</a><a href="/selection2" style="text-decoration: none;"> > Гарри Поттер</a></h5>
        <h2 align="center"><b>Гарри Поттер</b></h2>
        <br>
        {% load static %}
        <p class="fig"><img src="{% static 'img/compilations/2.jpg' %}" alt="..." width="700px" height="400px"></p>
        <h5>Если вы знаете правила игры в Квиддич, состоите в Отряде Дамблдора и умеете варить сливочное пиво, то эта подборка точно для вас: здесь все книги о Гарри Поттере, коллекционные и подарочные издания, скетчбуки, блокноты и сувениры. Всё, что нужно для настоящего фаната Гарри Поттера или для того, у кого всё ещё впереди.</h5>
        <br>
        <h4><b>Гарри Поттер и философский камень</b></h4>
        <h5><b>Роулинг Джоан Кэтлин</b></h5>
        <p class="fig"><img src="{% static 'img/books/56.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Издательская группа «Азбука-Аттикус» с гордостью сообщает о начале публикации уникальных мировых бестселлеров - семи книг Дж.К. Роулинг о Гарри Поттере. Самая знаменитая сага новейшего времени разошлась рекордным тиражом - более 400 миллионов экземпляров на 68 языках (включая эсперанто, древнегреческий и латынь). Книги Роулинг сумели оторвать детей и взрослых от экранов компьютеров и стали мощнейшим импульсом для интереса к чтению в современную эпоху. Приобретение исключительных прав на издание книг о Гарри Поттере на русском языке явилось для «Азбуки-Аттикус» началом нового значимого этапа в истории издательской группы, стало важным событием для всего российского книжного рынка и поставило «Азбуку-Аттикус» в один ряд с лидерами мировой книжной индустрии - американским издательством Scholastic и английским Bloomsbury. Все семь книг о Гарри Поттере планируются к публикации в 2014 году в переводах Марии Спивак.</h5>
        <br>
        <h4><b>Гарри Поттер и Тайная комната</b></h4>
        <h5><b>Роулинг Джоан Кэтлин</b></h5>
        <p class="fig"><img src="{% static 'img/books/57.jpg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Книга, покорившая мир, эталон литературы для читателей всех возрастов, синоним успеха.
Книга, сделавшая Дж.К. Роулинг самым читаемым писателем современности.
«Гарри Поттер и Тайная комната» – история продолжается.</h5>
        <br>
        <h4><b>Гарри Поттер и узник Азкабана</b></h4>
        <h5><b>Роулинг Джоан Кэтлин</b></h5>
        <p class="fig"><img src="{% static 'img/books/58.jpg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Книга, покорившая мир, эталон литературы для читателей всех возрастов, синоним успеха. Книга, сделавшая Дж.К. Роулинг самым читаемым писателем современности. Книга, ставшая культовой уже для нескольких поколений. «Гарри Поттер и узник Азкабана» – история продолжается.</h5>
        <br>
        <h4><b>Гарри Поттер и Кубок Огня</b></h4>
        <h5><b>Роулинг Джоан Кэтлин</b></h5>
        <p class="fig"><img src="{% static 'img/books/59.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Книга, покорившая мир, эталон литературы для читателей всех возрастов, синоним успеха. Книга, сделавшая Дж.К. Роулинг самым читаемым писателем современности. Книга, ставшая культовой уже для нескольких поколений. «Гарри Поттер и Кубок Огня» – история продолжается.</h5>
        <br>
        <h4><b>Гарри Поттер и Орден Феникса</b></h4>
        <h5><b>Роулинг Джоан Кэтлин</b></h5>
        <p class="fig"><img src="{% static 'img/books/60.jpg' %}" alt="..." width="300px" height="450px"></p>
        <h5>
            Книга, покорившая мир, эталон литературы для читателей всех возрастов, синоним успеха. Книга, сделавшая Дж.К. Роулинг самым читаемым писателем современности. Книга, ставшая культовой уже для нескольких поколений. «Гарри Поттер и орден Феникса» – история продолжается.
        </h5>
        <br>
    </div>
</div>
{% endblock %}