{% extends 'papercity_app/layout.html' %}
{% block content %}
<div class="container4">
    <div class="container5">
        <br>
    <h5 style="font-size: 15px;"><a href="/home/" style="text-decoration: none;">Главная</a><a href="/home/selection_all" style="text-decoration: none;"> > Подборки книг</a><a href="/home/selections/selection1" style="text-decoration: none;"> > Художественные книги о врачах</a></h5>
    <h2 align="center"><b>Художественные книги о врачах</b></h2>
        <br>
        {% load static %}
        <p class="fig"><img src="{% static 'img/compilations/1.jpg' %}" alt="..." width="700px" height="400px"></p>
        <h5>Профессия врача – неисчерпаемая тема для литературных шедевров.
            Мы одинаково зачитываемся автобиографическими и научно-популярными книгами о медицинских работниках,
            об их самоотверженности и преданности своему делу. Но сегодня мы хотим показать интересные художественные книги,
            в которых известные писатели обращаются к образам врачей: здесь собраны повести и романы о тех, кто не опускает
            руки даже перед самым страшным противником.</h5>
        <br>
        <h4><b>Доктор Сон</b></h4>
        <h5><b>Стивен Кинг</b></h5>
        <p class="fig"><img src="{% static 'img/books/52.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>"Доктор Сон" - долгожданное продолжение романа "Сияние"!
Легендарный роман Стивена Кинга "Сияние", вышедший в 1977 году, перевели на все языки мира и неоднократно экранизировали (наиболее известен вошедший в фонд мирового кинематографа фильм Стенли Кубрика с блистательным Джеком Николсоном в главной роли). И вот теперь Стивен Кинг вновь возвращается к своим героям, представляя бесчисленным поклонникам продолжение "Сияния" - поразительный роман "Доктор Сон".
"Доктор Сон" повествует о призраках прошлого, вернувшихся в жизнь "сияющего" Дэнни Торранса. Дэнни, сын писателя, уничтоженного темными силами отеля "Оверлук", до сих пор тяготится своим необычайным даром. Ведь способность "сиять" вновь и вновь напоминает ему о трагических событиях, пережитых в детстве и едва не сломавших ему жизнь.
На плаву Дэнни поддерживает лишь работа в хосписе, где его способности помогают облегчить пациентам мучительную боль. Но однажды к Дэну приходит двенадцатилетняя девочка Абра, которая излучает "сияние" невероятной, немыслимой силы. Абре угрожает смертельная опасность - на нее объявлена настоящая охота. Дэн Торранс - единственный, кто может ее спасти...</h5>
        <br>
        <h4><b>Лавр</b></h4>
        <h5><b>Водолазкин Евгений Германович</b></h5>
        <p class="fig"><img src="{% static 'img/books/53.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Этот роман только что получил премию "Большая книга". Таким образом, можно ответственно заявить, что "Лавр" это уже практически классика большой русской литературы.
Герой нового романа "Лавр" - средневековый врач. Обладая даром исцеления, он тем не менее не может спасти свою возлюбленную и принимает решение пройти земной путь вместо нее. Так жизнь превращается в житие. Он выхаживает чумных и раненых, убогих и немощных, и чем больше жертвует собой, тем очевиднее крепнет его дар. Но возможно ли любовью и жертвой спасти душу человека, не сумев уберечь ее земной оболочки?</h5>
        <br>
        <h4><b>Чума</b></h4>
        <h5><b>Камю Альбер</b></h5>
        <p class="fig"><img src="{% static 'img/books/54.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>«Чума» Альбера Камю — это роман-притча. В город приходит страшная болезнь — и люди начинают умирать. Отцы города, скрывая правду, делают жителей заложниками эпидемии. И каждый стоит перед выбором: бороться за жизнь, искать выход или смириться с господством чумы, с неизбежной смертью. Многие литературные критики «прочитывают» в романе события во Франции в период фашистской оккупации.</h5>
        <br>
        <h4><b>Жатва: роман</b></h4>
        <h5><b>Герритсен Тесс</b></h5>
        <p class="fig"><img src="{% static 'img/books/55.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>Доктор Эбби Маттео работает в команде элитных бостонских хирургов, занимающихся пересадками сердца. Но однажды она принимает решение, которое не только оказывается для нее судьбоносным, но и имеет далеко идущие последствия: пересаживает сердце женщины, погибшей в автомобильной катастрофе, не богатой пациентке, а мальчику-подростку. Он стоял первым в очереди на пересадку. Затем Эбби делает страшное открытие. Оказывается, новое донорское сердце поступило в клинику по сомнительным каналам, а необходимые сопроводительные документы — фальшивка. Корпоративные правила клиники требуют «не лезть не в свое дело и помалкивать», однако Эбби нарушает их и начинает распутывать этот клубок...</h5>
        <br>
        <h4><b>Морфий</b></h4>
        <h5><b>Булгаков Михаил Афанасьевич</b></h5>
        <p class="fig"><img src="{% static 'img/books/51.jpeg' %}" alt="..." width="300px" height="450px"></p>
        <h5>
            В этот сборник вошли произведения Булгакова, носящие автобиографический характер, — остроумная, ироничная повесть «Записки на манжетах», посвященная скитаниям по послереволюционному Кавказу, сложным отношениям с "красной" властью и собратьями по перу, мечтам об эмиграции и первым опытам в литературе. И потрясающие «Записки юного врача» — почти документальные очерки Булгакова о святом и страшном жребии служителя Гиппократа в нищей, почти средневековой российской провинции начала 1920-х. В книгу включен и «Морфий» — пугающе откровенная, мучительная исповедь, послужившая основой для одноименного фильма Алексея Балабанова.
        </h5>
        <br>
    </div>
</div>
{% endblock %}