
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for books in empty_books %}
   <div class="col">
    <div class="card" style="height: 500px; width: 235px">
      <div class="card-body">
        <img src="{{books.photo.url}}" class="card-img-top" height="300" width="200" alt="...">
          <a href="/{{ books.url }} " class="card-title"><h5>{{books.title}}</h5></a>
        <p class="card-text">
          {% for author in books.author.all %}
          {{author.name}}
          {% endfor %}
        </p>
        <div class="card_footer">
          <div class="row row-cols-2">
            <div class="col">
              <h4><b>{{books.price}} ₽</b></h4>
            </div>
            <div class="col">
              <button style="margin-left: 25px;color: white;">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
